  * {
    box-sizing:border-box;
  }
  body {
    font-family:sans-serif;
    font-size:12px;
    overflow:hidden;
  }
  dd {
    padding:0;
    margin:0;
    width:200px;
    float:right;
    position:relative;
  }
  dt {
    clear:both;
    font-size:12px;
    font-weight:normal;
    width:80px;
    float:left;
  }
  
  #xwrap {
    position:fixed;
    left:80px;
    top:40px;
    bottom:32px;
    right:300px;
  }
  #xmyCanvas {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
  
  #inspector {
    position:fixed;
    top:49px;
    bottom:0;
    right:0;
    width:300px;
    z-index:2;
    background:#eee;
    border-left:1px black solid;
    padding:8px;
  }
  #toolbar {
    position:fixed;
    top:10px;
    left:0px;
    right:0px;
    height:40px;    
    line-height:40px;

    z-index:2;
    background:#eee;
    border-bottom:1px black solid;
    padding:0px 8px;
    cursor:default;
  }
  #toolbar big {
    float:left;
    width:70px;
    padding-top:5px;
  }
  #toolbox {
    position:fixed;
    top:49px;
    left:0;
    width:64px;
    bottom:0;
    z-index:3;
    overflow:hidden;
    background:#eee;
    border-right:1px black solid;
    padding:8px;
  }
  .tool {
    display:block;
    width:100%;
    background:white;
    color:black; 
    xborder:solid 1px black;
    padding:0;
    padding-top:4px;
    width:48px;
    height:48px;
    line-height:48px;
    margin-top:6px;
    border-radius:6px;
    vertical-align:middle;
    box-shadow:0 0 8px -3px #444;
  }
  .tool.selected {
    background:silver;
    color:white; 
    box-shadow:0 0 3px 1px #88f;
  }
  
  .tool img {
    width:38px;
    height:38px;
    vertical-align:top;
    margin-left:-2px;
  }
  #toolbar input[type=number] {
    width:50px;
    border:solid 1px silver;
  }
  .swatch {
    display:inline-block;
    width:24px;
    height:24px;
    margin:3px 1px;
    border:solid silver 1px;
    position:relative;
  }
  .swatch.fill-selected:after {
    content:"●";
    color:white;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 2px blue, 0 0 3px blue ;
    font-size:13px;
    position:absolute;
    top:2px;
    margin-left:3px;
  }
  .swatch.fill2-selected:before {
    content:"▸";
    color:white;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 2px blue, 0 0 3px blue ;
    font-size:14px;
    position:absolute;
    top:2px;
    right:0px;
    margin-right:2px;
  }
  .swatch.stroke-selected {
    outline-offset:-2px;
    outline:solid 1px white;
    border:solid 1px #444;
    box-shadow:0 0 1px #444;
  }
  
  #palette {
    position:fixed;
    left:63px;
    right:299px;
    background:#eee;
    border-top: solid 1px black;
    z-index:5;
    bottom:0;
  }
  input.color.multiple {
    color:transparent;
    position:relative;
  }

  input.color.multiple + * {
    background-color:#ccc!important;
    text-decoration:none;
  }

  input.color.multiple+*:before {
    content:"multiple";
    position:absolute;
    color:black;
    z-index:1;
    width:30px;
    height:10px;
    top:2px;
    left:2px;
  }
  input.color.multiple+*:after {
    content:"+";
    position:absolute;
    color:black;
    z-index:1;
    width:30px;
    height:10px;
    left:70px;
    top:5px;
  }

  input.color {
    width:60px;
    border:none;
    background:#ddd;
  }
  input.opacity {
    width:100px;
    vertical-align:middle;
  }
  select {
    background:white;
    border:solid 1px silver;
    vertical-align:middle;
  }
  select.data {
    width:180px;
  }
  #inspector hr {
    border:none;
    clear:both;
    width:100%;
    height:18px;
  }
  #toolbar .bar button {
    border: solid 1px #999;
    background: #ccc;
    color:#333;
    padding: 3px 3px;
    font-size: 11px;
    border-radius: 3px;
    margin: 0;
  }
  #toolbar .bar button[disabled] {
    border: solid 1px #ccc;
    background: #ddd;
    color:#999;
  }
  #toolbar .bar button:not([disabled]):hover {
    xbox-shadow:0 0 6px -2px black,0 0 6px 4px white inset;
    background:#eee;
    cursor:pointer;
    color:black;
  }
  
  #toolbar .menu {
    font-family: Trebuchet MS, sans-serif;
    display: inline-block;
    vertical-align: middle;
    margin: 4px 2px;
    padding: 0 0px 0 4px;
    xborder-left: 3px double #CCC;
    cursor:default;
    display:inline-block;
    position:relative;
  }
  #toolbar .bar {
    margin: 4px 1px;
    padding: 0 0px 0 0px;
    border-left: none;
    cursor:default;
    vertical-align:middle;
    display:inline-block;
    line-height:40px;
    height:40px;    
  }
  #toolbar .head {
    font-size:13px;
    display:inline;
    vertical-align:middle;
  }
  #toolbar .menu .head {
//    font-weight:bold;
    padding-left:4px;
    padding-right:4px;
  }
  #toolbar .menu.open .head {
    background:black;
    color:white;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
  }
  
  #toolbar .bar .content hr {
    display:inline-block;
    height:16px;
    width:1px;
    border:none;
    background:#999;
    vertical-align:middle;
  }
  #toolbar .menu .content hr {
    display:block;
    width:100%;
    height:1px;
    border:none;
    background:#999;
    margin:4px 0;
  }
  #toolbar .bar .content {
    display:inline;
  }

  #toolbar div .extra {
    display:none;
  }
  #toolbar .menu .extra {
    display:inline;
  }

  #toolbar .menu .switchtobar {
    display:block;
  }
  #toolbar .menu .switchtobar:after {
    content:"show as toolbar ▸"
  }
  #toolbar .bar .switchtobar {
    border:none;
    background:transparent;
  }
  #toolbar .bar .switchtobar:after {
    content:"◂"
  }

  #toolbar .menu .content {
    display:none;
    position:absolute;
    left:0px;
    top:30px;
    background:white;
    line-height:24px;
    box-shadow: 0 0 8px #666;
    padding:4px;
  }
  #toolbar .menu.open .content {
    display:block;
  }
  #toolbar .menu .content button,
  #toolbar .menu .content .file,
  #toolbar .menu .content .entry
  {
    display:block;
    width:100%;
    background:white;
    border:none;
    border-radius:2px;
    text-align:left;
    padding:2px 2px 2px 16px;
    font-size:13px;
    margin:0;
    line-height:18px;
    position:relative;
    white-space:nowrap;
  }
  #toolbar .menu .content button:hover,
  #toolbar .menu .content .file:hover,
  #toolbar .menu .content .entry:hover {
    background:#ccc;
  }
  #toolbar .bar .content .kb {
    display:none;
  }
  #toolbar .menu .content .kb {
    float:right;
    padding-left:24px;
    color:#777;
    xfont-size:12px;
  }

  #toolbar .menu .content .date {
    float:right;
    padding-left:24px;
    font-size:12px;
    color:#999;
  }

  #toolbar input[type=checkbox] {
    margin:0;
    padding:0;
    margin-left:-16px;
    margin-top:-8px;
    width:16px;
    height:8px;
    vertical-align:middle;
    display:inline-block;
    visibility:hidden;
  }
  #toolbar input[type=checkbox]:before {
    margin:0 2px;
    content:"☐";
    display:inline-block;
    visibility:visible;
    position:absolute;
  }
  #toolbar .bar input[type=checkbox]:checked:before {
    content: "☑";
  }
  #toolbar .menu input[type=checkbox]:before {
    content:"";
  }
  #toolbar .menu input[type=checkbox]:checked:before {
    content: "✓";
  }


  #toolbar div:not(.menu) label button {
    padding-left:16px;
  }
  #sketchname {
    display:block;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    text-align:center;    
    z-index:3;
    font-size:13px;
    font-weight:bold;
    background:#999;
    color:white;
    height:20px;
  }
  .menu .part {
    vertical-align:top;
    display: inline-block;
  }
  .menu .part.more {
    display:none;
    margin-left:5px;
    position:relative;
  }
  .menu.expanded .part.more {
    display:inline-block;
  }
  #filemenu .content, #imagemenu .content { white-space:nowrap; }
  #filemenu .more { 
    height:410px;
    width:360px;
    line-height:350px;
    padding:5px;
    text-align:center;
    box-shadow:0 0 4px #666;
  }
  
  .filewrap {
    position:absolute;
    z-index:1;
    opacity: 0;
  }
  
  #preview-image, #preview-sketch {
    vertical-align:middle;
    max-width:300px;
    max-height:300px;
  }

  #toolbar .menu .content .file-bar {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:50px;
    line-height:50px;
    padding:0 10px;
    background:#f8f8f8;
    z-index:1;
  }
  #toolbar .menu .content .file-bar button {
    display:inline-block;
    background:#ddd;
    width:auto;
    padding:4px 12px;
    border-radius:3px;
    font-size:13px;
    cursor:pointer;
  }
  #toolbar .menu .content .file-bar button:hover {
    background:#ccc;
  }
    #explorer {
    position:absolute;
    bottom:5px;
    left:5px;
    right:5px;
    background:white;
    color:#666;
    max-height:300px;
    overflow:auto;
    background:#ddf;
  }
  #explorer details.item {
    padding-left:30px;
    margin-left:-15px;
  }
  #explorer .item {
    padding-left:15px;
    cursor:pointer;
  }
  #explorer .selected {
    xbackground:#eee;
  }
  #explorer .selected > .label,
  #explorer .selected > * > .label {
    background:#666;
    color:white;
  }
  
  #explorer .active {
    background:white;
  }
  #explorer .focused > .label,
  #explorer .focused > * > .label {
    outline: solid 1px #88f;
  }
  .left {
    float:left;
  }
  .right {
    float:right;
  }

