@import (css) url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i&display=swap&subset=latin-ext');
@import (css) url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&display=swap&subset=cyrillic,greek,latin-ext');
body {
  font-family:"Open Sans", sans-serif;
  user-select:none;
}

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  text-size-adjust: 100%;
}


#overlay {
  .fullsize-fixed;
  z-index:100000000;
}

:focus:not(input):not(select):not(textarea) {
  outline:none;
}

*::-webkit-scrollbar {
  width: 4px;
}
 
*::-webkit-scrollbar-track {
  background-color:inherit;
}
*::-webkit-scrollbar-thumb {
  background-color: #f840;
}
*:hover::-webkit-scrollbar-thumb {
  background-color:#f84;
}

