@import (css) url('https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css');

@import "./utils.less";
@import "./body.less";

@dock-width:64px;

@import "./dock.less";
@import "./panel.less";
@import "./folder.less";
@import "./dialog.less";
@import "./toolbar.less";
@import "./main-menu.less";
@import "./list.less";

.desktop        { z-index:1; }
.dock           { z-index:2; }
.main-menu      { z-index:3; }
.dialog         { z-index:4; }
.panes          { z-index:5; }
.context-menu   { z-index:100; }

.shell {
  .flex-row;
  .fullsize-fixed;
  input[type="text"] {
    border-radius:6px;
    border:solid 1px #999;
    padding:0 8px;
    height:32px;
  }

  button {
    border-radius:6px;
    border:solid 1px #999;
    padding:0 8px;
    height:32px;
    margin-left:4px;
  }

}

.main {
  .flex;
  position:relative;
}
.desktop {
  .fullsize-absolute;
  background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%);
  flex:1;
  user-select:none;
  cursor:default;
  .window {
    .flex-column;
    position:absolute;
    box-shadow:0 0 0 1px rgba(0,0,0,0.5), 0 0 2px rgba(255,255,255,0.7),0 0 12px rgba(0,0,0,0.25);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

    
    &.minimized, &.hidden {
      visibility:hidden;
    }
    &.maximized {
      top:0!important;
      left:0!important;
      height:100%!important;
      width:100%!important;

      .titlebar {
        border-radius:0;
      }
    }

    &.active {
      box-shadow:0 0 0 1px rgba(0,0,0,0.5), 0 0 2px rgba(255,255,255,0.7),0 16px 32px 0px #0006;
      .titlebar {
         color:white;
         background: linear-gradient(to bottom, #666 0%,#333 100%);
         .buttons .button {
          background:#999;
          &.close {
            background:#f60;
          }
        }
      }
    }

    .titlebar {
      .flex-row;
      background:#555;
      overflow:hidden;
      color:#999;
      height:30px;
      line-height:30px; 
      z-index:1;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
        .title {
        .flex;
        //text-align:center;
        white-space:nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
        line-height:16px; 
        font-size:15px;
        padding:7px 8px;
      }
      .buttons {
        flex:0;
        padding-left:6px;
        white-space:nowrap;
        .button {
          border-radius:50%;
          background:#9998;
          color:#333;
          margin:6px 2px;
          display:inline-block;
          width:16px;
          height:16px;
          padding:3px 0;
          text-align:center;
          &:hover {
            background:#fff8;
          }
        }
        i {
          font-weight:bold;
          font-size:12px;
        }
      }
    }
    .logs {
      position:absolute;
      z-index:2;
      top:4px;
      right:4px;
      min-width:300px;
      max-width:100%;
      font-size:13px;
      display:flex;
      flex-flow:column;
     .log {
         background:#0008;
         box-shadow:0 0 8px #0008;
         color:white;
         padding:4px 8px;
         margin-bottom:4px;
         border-radius:4px;
        .dismiss {
          display:none;
        }

        &.error {
          color:#f00;
        }
        &.message {
        }
      }
    }
    .resizer {
      position:absolute;
      bottom:-8px;
      right:-8px;
      height:24px;
      width:24px;
      z-index:0;
      cursor:se-resize;
    }
    
    &.active .client .overlay {
      display:none;
    }

    .client {
      .flex;
      .flex-column;

      z-index:1;
      position:relative;
      background:#fff; 
      iframe {
        opacity:0;
        border:none;
        flex:1 1 0;
        transition:opacity 0.5s;
        &[data-app-state="ready"] {
          opacity:1;
        }
      }
    }
  }
}

.context-menu {
  font-size:13px;
  position:fixed;
  background:white;
  min-width:120px;
  padding:2px 0;
  box-shadow:0 0 0 1px #666 , 0 0 12px #0008;

  .option {
    padding:4px 8px;
    &:hover {
      background:#666;
      color:white;
    }
  }
}