.dialog {
  position:fixed;
  top:0; bottom:0;
  left:0; right: 0;
  display:flex;
  flex-flow:column;
  background:#0008;
  &:before, &:after {
    content:"";
    flex:1;
  }
  .content {
    background:#ddd;
    display:flex;
    flex-flow:column;
    min-width:400px;
    min-height:300px;
    width:80vmin;
    height:60vmin;
    margin:auto;
    position:relative;
    border-radius:6px;
    overflow:hidden;

    .header {
      height:40px;
      line-height:40px;
      background:#333;
      color:#ccc;
      padding:0 12px;
      .title {
        display:inline-block;
        font-size:18px;
        font-weight:bold;
      }
    }
    .filename {
      padding:4px;
      .flex-row;
      input[type="text"] {
        flex:1;
        border-radius:6px;
        border:solid 1px #999;
        padding:0 8px;
        height:32px;
      }
    }
    .footer {
      padding:4px;
      display:flex;
      flex-flow:row;
      > * {
        margin:4px;
      }
      select {
        flex:1;
        border-radius:6px;
        border:solid 1px #999;
        padding:0 8px;
        height:32px;
      }
      button {
        height:32px;
        min-width:100px;
        border-radius:4px;
        background:#444;
        color:white;
        font-weight:600;
        font-size:15px;
        border:none;
        padding:8px 12px;
        &:disabled {
          opacity:0.5;
        }
      }
    }
  }
}