
.dock {   

  @icon-size: (@dock-width - 4px);
  @icon-image-size: (@dock-width - 20px);

  .flex-column;
  background:#333;
  width:@dock-width;
  cursor:default;
  padding:2px 0;

  .icon {
    height:@icon-size;
    margin:2px 4px;
    color:white;
    text-align:center;
    opacity:0.8;
    line-height:40px;
    background:#444;
    .centrify;
    &.active {
      opacity:1;
      background:#555;
    }

    img {
      max-width:@icon-image-size;
      max-width:@icon-image-size;
      width:100%;
      height:auto;
      display:inline-block;
      margin:0 auto;
    }
  }
}