.folder {
  text-rendering: optimizeLegibility;
  .flex;
  .flex-column;
  background: #fff;

  .toolbar {
    .path-buttons {
      background: #ddd;
      padding   : 4px;

      button {
        font-weight  : 500;
        padding      : 4px 8px;
        font-size    : 14px;
        border       : solid 1px #999;
        border-radius: 3px;
      }

      .flex;
    }

    .buttons {
      text-align: right;
    }
  }

  .error {
    .flex;
    background : #fdd;
    color      : #f44;
    font-family: monospace;
    padding    : 8px;
  }


  .sh.list[data-view="list"] {
    .flex;
    .flex-column;
    background     : #fff;
    width          : 100%;
    border-collapse: collapse;

    .header>span,
    .items>.item>span {
      display      : block;
      overflow     : hidden;
      text-overflow: ellipsis;
      white-space  : nowrap;
      padding      : 2px 2px;

      &.extra {
        flex: 1;
      }
      &.details {
        width:100px;
        &.right {
          text-align: right;
        }
        &.center {
          text-align: center;
        }
      }
    }

    .header {
      .flex-row;
      padding-right: 16px;
      background   : #eee;

      >span {
        font-weight: 600;
        font-size  : 12px;
        text-align : left;
      }
    }

    .items {
      .flex;
      display   : block;
      overflow-x: auto;
      overflow-y: scroll;

      >.item {
        .flex-row;
        position    : relative;
        yalign-items: baseline;

        height     : 24px;
        line-height: 20px;

        background: white;
        color     : #555;

        &.selected {
          background: #f84;
          color     : #fff;

          >span.extra {
            opacity: 1;
          }
        }

        >span.name {
          font-size  : 14px;
          font-weight: 600;
        }

        >span.icon {
          width     : 24px;
          height    : 100%;
          text-align: center;
          margin    : 0px 0px 0 4px;
          .flex-row;
          align-items: center;

          img {
            max-width : 16px;
            max-height: 16px;
            width     : 100%;
            height    : auto;
            margin    : 0 auto;
          }
        }

        >span.extra {
          font-size: 13px;
          opacity  : 0.6;
        }

        .details {
          font-size: 14px;
        }
      }
    }

    xspan.main {

      position: relative;

      .type {
        font-size: 13px;
        .flex;
        display    : block;
        margin-left: 4px;
      }

      .name {
        display  : block;
        font-size: 16px;
      }

      input.rename {
        position   : absolute;
        top        : 0;
        left       : 0;
        width      : 100%;
        height     : 100%;
        font-size  : inherit;
        font-family: inherit;
        padding    : inherit;
        border     : none;
        box-shadow : 0 0 0 1px #ccc;
      }
    }
  }

  .sh.list[data-view="icons"] {
    .flex;
    overflow     : auto;
    align-content: start;

    >.header {
      display: none
    }

    >.items {
      .flex-rows;
      .flex;

      >.item {
        position: relative;
        .flex-column;
        align-items: center;
        margin     : 8px 2px;
        width      : 120px;
        min-height : 80px;

        >span.extra,
        >span.details {
          display: none;
        }

        >span.icon {
          width : 100%;
          height: 70px;
          .flex-column;
          justify-content: space-around;
          align-items    : center;

          img {
            max-width : 80px;
            max-height: 60px;
            height:60px;
          }
        }

        >span.name {
          font-size    : 13px;
          max-width    : 100%;
          padding      : 2px 8px;
          margin-top   : 2px;
          text-align   : center;
          text-overflow: ellipsis;
          text-align   : center;
          display      : block;
          word-break   : break-word;
          border-radius: 6px;
          font-weight  : 600;
          color        : #555;
        }

        &.selected {
          >span.icon {
            filter: brightness(1.2)
            ;
          }

          >span.name {
            background: #f84;
            color     : white;
          }
        }
      }
    }
  }

  .sh.list.files>.items>.item {
    .details.size {
      width     : 60px;
      text-align: right;
    }
  }
}