.sh.listview {
  .flex;

  >.header {
    display: none
  }
}

.sh.listview[data-style="list"] {
  .flex-column;
  background     : inherit;
  width          : 100%;
  border-collapse: collapse;

  .header>span,
  .items>.item> .content > * {
    display      : block;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
    padding      : 2px 2px;

    &.extra {
      flex: 1;
    }

    &.details {
      width: 100px;

      &.right {
        text-align: right;
      }

      &.center {
        text-align: center;
      }
    }
  }

  x.header {
    .flex-row;
    padding-right: 16px;

    background :inherit>span {
      font-weight: 600;
      font-size  : 12px;
      text-align : left;
    }
  }

  .items {
    .flex;
    display   : block;
    overflow-x: auto;
    overflow-y: scroll;

    >.item {
      .flex-row;
      position: relative;

      height     : 24px;
      line-height: 20px;

      background: inherit;
      color     : inherit;

      &.selected {
        background: #f84;
        color     : #fff;

        >.extra {
          opacity: 1;
        }
      }


      >.icon {
        flex:0 0 24px;
        height    : 100%;
        text-align: center;
        margin    : 0px 0px 0 4px;
        .flex-row;
        align-items: center;

        img {
          max-width : 16px;
          max-height: 16px;
          width     : 100%;
          height    : auto;
          margin    : 0 auto;
        }
      }

      >.content {
        display: contents;

        >.name {
          font-size  : 14px;
          font-weight: 600;
        }

        >.extra {
          font-size: 13px;
          opacity  : 0.6;
        }

        .details {
          font-size: 14px;
        }
      }
    }
  }
}

.sh.listview[data-style="icons"] {
  overflow     : auto;
  align-content: start;


  >.items {
    .flex-rows;
    .flex;
    justify-content:space-around;
    >.item {
      position: relative;
      .flex-column;
      align-items: center;
      margin     : 8px 2px;
      width      : 120px;
      min-height : 80px;

      >.icon {
        width : 100%;
        height: 70px;
        .flex-column;
        justify-content: space-around;
        align-items    : center;

        img {
          max-width : 80px;
          max-height: 60px;
          height    : 60px;
        }
      }

      >.content {
        display: contents;

        >.name {
          font-size    : 13px;
          max-width    : 100%;
          padding      : 2px 8px;
          margin-top   : 2px;
          text-align   : center;
          text-overflow: ellipsis;
          text-align   : center;
          display      : block;
          word-break   : break-word;
          border-radius: 6px;
          font-weight  : 600;
        }

        >.extra,
        >.details {
          display: none;
        }

        &.selected {
          >.icon {
            filter: brightness(1.2);
          }

          >.content > .name {
            background: #f84;
            color     : white;
          }
        }
      }
    }
  }
}

.listViewItemsItem() {
  position: relative;
  .flex-row;
  align-items: stretch;
  margin     : 2px 0px;
  padding     : 4px 0px;
  width:100%;
  overflow:hidden;
  text-overflow: ellipsis;
  >.icon {
    width : 40px;
    height: 40px;
    .flex-column;
    align-items    : center;
    border-radius:4px;
    overflow:hidden;
    img {
      max-width : 40px;
      max-height: 40px;
      height    : 40px;
    }
  }

  >.content {
    .flex-column;
    .flex;
    overflow:hidden;
    align-items:stretch;
    padding-left:8px;
    >.name {
      font-size    : 14px;
      line-height: 1;
      text-align   : left;
      text-overflow: ellipsis;
      white-space:nowrap;
      overflow:hidden;
      font-weight  : 600;
    }

    >.extra {
      flex:1;
      font-size:13px;
      line-height:1;
      padding-top:4px;
      text-align   : left;
      text-overflow: ellipsis;
      overflow:hidden;
      opacity:0.8;
    }
    >.details {
      display: none;
    }

    &.selected {
      >.icon {
        filter: brightness(1.2);
      }

      >.content > .name {
        background: #f84;
        color     : white;
      }
    }
  }
}

.sh.item[data-style="items"] {
  .listViewItemsItem();
}

.sh.listview[data-style="items"] {
  overflow     : auto;
  align-content: start;


  >.items {
    .flex-columns;
    .flex;

    >.item {
     .listViewItemsItem()
    }
  }
}
