

.main-menu {
  .fullsize-absolute;
  .flex-column;
  background: #000d;
  color:#eee;
  h2 {
    font-size:18px;
    margin:16px 40px;
    padding:8px 0;
    border-bottom:solid 1px #666;
  }
  .from-url {
    padding-top:30px;
    input {
      display:block;
      width:600px;
      max-width:90vw;
      height:40px;
      border:none;
      border-radius:6px;
      padding:0 12px;
      font-size:16px;
      margin:0 auto;
    }
  }
  .apps {
    .flex-rows;
    .app {
      .flex-column;
      text-align:center;
      margin:5px;
      padding-top:5px;
      min-height:150px;
      width:150px;
      border-radius:12px;
      pointer-events:none;
      .icon {
        .centrify;        
        margin:0 auto;
        text-align:center;
        height:100px;
        position:relative;
        border-radius:6px;
        width:100px;
        pointer-events:auto;
        img {
          max-width:80px;
          max-width:80px;
          width:100%;
          height:auto;
          display:inline-block;
          margin:0 auto;        
        }
      }
      &:hover .icon {
        background:#fff8;
      }
      .title {
        .flex;
        pointer-events:auto;
        padding-top:10px;
        color:#eee;
        font-size:14px;
        font-weight:500;
      }
      &:hover .title {
        color:#fff;
      }
    }
  }
}