.panes.collapsed {

  .panel {
    position                 : fixed;
    right                    : 0;
    top                      : 0;
    height                   : 28px;
    border-bottom-left-radius: 6px;
  }
}

.panes.expanded {
  .flex-column;
  width   : 360px;
  position: relative;
}

.panes {

  .panel {
    background : linear-gradient(to bottom, #666 0%, #333 100%);
    color      : white;
    line-height: 28px;
    font-size  : 14px;
    padding    : 0px 8px 0 12px;
    display    : flex;

    &:before {
      content: "";
      flex   : 1;
    }

    .indicator {
      flex:0 0 0;
      .flex-row;
      align-items:center;
      padding:0 5px;
      white-space:nowrap;

      &.active {
        box-shadow:0 -3px 0 #f84 inset ;
      }
      >* {
        margin:0 3px!important;
      }
    }



    .icon {
      .centrify;
    }

    .busy {
      opacity       : 0.5;
      pointer-events: none;
    }

    .radio.indicator {
      .current-station {
        width              : 20px;
        height             : 20px;
        display            : inline-block;
        border-radius      : 4px;
        background-position: center center;
        background-size    : cover;
        box-shadow:0 0 3px 0px #fff8 inset;
        filter: brightness(1.2);
      }
    }
  }

  .pane {
    &:last-child {
      flex:1;
    }
    background : #333;
    color      : #fff;
    padding    : 8px;
    line-height: 1.4;

    h1 {
      font-size    : 18px;
      text-align   : left;
      border-bottom: solid 1px #888;
      color        : white;
      font-weight  : 800;
    }

    h2 {
      font-size  : 13px;
      color      : white;
      font-weight: bold;
      margin     : 8px 0;
    }

    .section {
      padding: 4px 0 0;
      background:#333;
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

.animate-pulse {
  animation: pulse 2s ease-in infinite;
}