.sh.toolbar {
  .flex-row;
  background:#ddd;
  height:36px;
  padding:0;
  
  >.button {
    display:inline-flex;
    height:36px;
    min-width:36px;
    .flex-row;
    justify-content: space-around;
    text-align:center;
    padding:8px 6px;
    margin:0;
    color:#444;
    border:none;
    cursor:pointer;
    white-space: nowrap;
    box-shadow:0 -1px 0 0 #ddd inset;
    &:hover {
      background:#eee;
      color:#000;
    }
    &:active {
      background:#bbb0;
    }
    i {
      font-size:20px;
      line-height:inherit;
    }
    .label {
      display:inline-block;
      margin-left:6px;
      font-size:13px;
      font-weight:600;
      &:empty {
        display:none;
      }
    }
  }
}