
.flex-column {
  display:flex;
  flex-flow:column;
}

.flex-columns {
  display:flex;
  flex-flow:column wrap;
}

.flex-row {
  display:flex;
  flex-flow:row;
}

.flex-rows {
  display:flex;
  flex-flow:row wrap;
}

.flex {
  flex:1 1 0;
}

.flex-grow {
  flex:1 0 0;
}

.flex-shrink {
  flex:1 0 0;
}

.centrify {
  display:flex;
  flex-flow:column;
  &:before, &:after {
    content:"";
    flex:1;
  }
}

.fullsize {
  width:100%;
  height:100%;
}

.fullsize-fixed {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.fullsize-absolute {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
}
