<!-- Include stylesheet -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<style>
  body {
    padding:0;
    margin:0;
  }
  #editor {
    position:fixed;
    top:42px;
    left:0;
    right:0;
    bottom:0
  }
</style>

<!-- Create the editor container -->
<div id="editor">
</div>

<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="/js/ShellApp.js"></script>

<!-- Initialize Quill editor -->
<script>
  var quill = new Quill('#editor', {
    theme: 'snow'
  });
  ShellApp.manifest({
    title:"Quill",
    icon: "https://quilljs.com/assets/images/brand-asset.png",
    api: {
      file: {
        formats: {
          'quill': {
            title: "Quill File",
            type: "application/json",
            extension:"quill.json",
            open: true,
            save: true,
            new: true
          }
        }
      }
    }
  })

  ShellApp.on('file','open',({format,extension,type,content})=>{
    switch (format) {
    case 'quill':
      quill.setContents(JSON.parse(content));
      return "OK";
    }
  })

  ShellApp.on('file','save',({format,extension,type})=>{
    switch (format) {
    case 'quill':
      return JSON.stringify(quill.getContents())
    }
  })

  ShellApp.on('file','new',({format,extension,type})=>{
    switch (format) {
    case 'quill':
      return quill.setText("\n")
    }
  })
</script>