<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>South Tooth Shell</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" integrity="sha256-BQwSEeLxuDggfePeFdo3V906rcvcJpkSAYr/Lqc2oSo=" crossorigin="anonymous" />

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js" integrity="sha256-BlYXc67JeIFZfxjseL6XCBWFi7MwxKoUEF6rPIzHmBM=" crossorigin="anonymous"></script>            
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
    <script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>
    <script src="/lib/Base64.js"></script>
    <script src="/src/Shell.js"></script>
    <script src="/src/DirectoryService.js"></script>
    <script src="/src/ShellListView.js"></script>
    <script src="/src/ShellTreeView.js"></script>
    <script src="/src/ShellFileDialog.js"></script>
    <script src="/src/ShellAppWindow.js"></script>
    <script src="/client.js"></script>

  </head>
  <body style="display:flex;flex-flow:column">
    <div class="ui bottom attached tab segment active" data-tab="first" style="flex:1;margin:0">
      <application-window url="https://pebble-wolf.hyperdev.space"></application-window>
    </div>
    <div class="ui tab" data-tab="second" style="flex:1;margin:0">
      <application-window url="https://meadow-dolphin.hyperdev.space"></application-window>
    </div>
    <div class="ui tab " data-tab="third" style="flex:1;margin:0">
      <application-window url="https://abalone-sky.hyperdev.space"></application-window>
    </div>
    <div id="tabs" class="ui attached inverted grey menu">
      <a class="item active" data-tab="first">Basic Text Editor</a>
      <a class="item" data-tab="second">Basic Paint</a>
      <a class="item" data-tab="third">Rich Text Editor</a>
    </div>
    
    <script type="template" name="action_dropdown">
      <div class="icon item vertically fitted" style="padding:0 0.5rem">
        <div class="ui small black buttons">
          <div class="ui button" data-action="{{action}}">{{#if icon}}<i class="icon {{icon}}"></i>{{/if}} {{label}}</div>
          <div class="ui floating dropdown icon button">
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each actions}}
                {{>action_link}}
              {{/each}}
            </div>
          </div>
        </div> 
      </div>
    </script>
    
    <script type="template" name="action_link">
      <a class="disabled item" data-action="{{action}}">
        {{#if icon}}<i class="icon {{icon}}"></i>{{/if}} {{label}}
      </a>
    </script>
    
    
    <!-- Your web-app is https, so your scripts need to be too -->
  </body>
</html>
