body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:#444;
}
* {
  box-sizing:border-box;
}
a {
  color: #00B7FF;
}

.centrify form {
  width:300px;
  background:#eee;
  box-shadow:0 0 3px #000a;
  display:flex;
  flex-flow:column;
  padding:8px;
  margin:0 auto;
}

.centrify {
  position:fixed;
  top:0; left:0;
  right:0; bottom:0;
  display:flex;
  flex-flow:column;
}
.centrify:before, .centrify:after {
  content:"";
  flex:1;
}

.centrify input,button {
  font-size:20px;
  padding:4px 8px;
  border-radius:6px;
  border:solid 1px silver;
  display: block;
  margin:4px;
  flex:1;
}

form p {
  font-size:14px;
  margin:4px;
  line-height:1.6;
}