<div class="centrify">
  <form method="post">
    <input type="hidden" name="logout" value="logout">
    <p>Hello {{username}}.</p>
    <input type="submit" value="Logout">
  </form>
</div>
<script src="/javascripts/ShellApp.js"></script>
<script>
  ShellApp.manifest({
    title:"Server File System",
    icon: "/images/icon.svg",
    api: {
      fs: {
        username: "{{username}}",
        host: "{{hostname}}",
        mount: "{{mount}}"
      }
    }
  })

  async function callServer(method,args,raw=false) {
    const rawResponse = await fetch('/{{token}}/'+method, {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(args)
    });
    if (raw) return rawResponse;
    const content = await rawResponse.json();
    if (content.error) throw content.error;
    return content.result;
  }

  ShellApp.on('fs','ls', ({path})=>{
    return callServer('ls',{path});
  })

  ShellApp.on('fs','read', ({path})=>{
    var res = callServer('read',{path});
    //res.encoding = 'base64';
    return res;
  })

  ShellApp.on('fs','write', ({path,content})=>{
    return callServer('write',{path,content});
  })

  ShellApp.on('fs','mkdir', ({path})=>{
    return callServer('mkdir',{path});
  })
</script>