<script src="/javascripts/ShellApp.js"></script>
<script>
  ShellApp.manifest({
    title:"Server File System",
    icon: "/images/icon.svg",
    api: {
      'fs-login': {
        redirect: "/{{token}}"
      }
    }
  })
</script>