<div class="centrify">
  <form method="post">
    <p>This is the host server file system. Use your linux credentials.</p>
    <input type="user" autofocus name="username" placeholder="Username" value="{{username}}">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login">
  </form>
</div>
<script src="/javascripts/ShellApp.js"></script>
<script>
  ShellApp.manifest({
    title:"Server File System",
    icon: "/images/icon.svg",
    api: {
      'fs-welcome': {
        home:"/"
      }
    }
  })
</script>