<script src="/ShellApp.js"></script>
<script src="/GoogleConnector.js"></script>
<script>
  ShellApp.manifest({
    title: "Google Drive",
    icon: "/icon.png",
    api: {
      fs: {
        username: "zocky",
        host: "drive.google.com",
        mount: "zocky@drive.google.com"
      }
    }
  })

  const folderType = 'application/vnd.google-apps.folder'

  async function pathToStat(path) {
    const parts = path.split('/').filter(Boolean);
    var cur =  (await gapi.client.drive.files.get({ fileId: 'root', fields: "id, name, mimeType,webContentLink,size"})).result;
    cur.id='root';
    while (p = parts.shift()) {
      console.log('try p',p)
      let q = `'${cur.id}' in parents and name='${p}' and trashed=false`;
      let res = await gapi.client.drive.files.list({ q, fields: "files(id, name, mimeType,webContentLink,size)" });
      if (!res.result.files.length) {
        console.log('fail p',p)
        return null;
      }
      cur = res.result.files[0];
    }
    return cur;
  }

  function convert({ name, id, mimeType, is }) {
    return {
      name,
      id,
      type: mimeType === folderType ? "folder/directory" : mimeType,
      is: {
        folder: mimeType === folderType
      }
    }
  }

  ShellApp.on('fs', 'ls', async ({ path }) => {
    try {
      var stat = await pathToStat(path);
      if (!stat) throw ({ reason: 'not-found', message: "Path not found" });
      console.log('stat',stat)
      var q = `'${stat.id}' in parents and trashed=false`
      var res = await gapi.client.drive.files.list({ q, fields: "files(id, name, mimeType,webContentLink,size)" });

      if (res.error) throw ({ reason: 'api-error', message: res.error.message });

      return res.result.files.map(convert);

    } catch (error) {
      console.error(error);
    }
  })

  ShellApp.on('fs', 'read', async ({ path }) => {
    var stat = await pathToStat(path);
    if (!stat) throw ({ reason: 'not-found', message: "Path not found" });
    var res = await gapi.client.drive.files.get({fileId:stat.id,alt:'media'});
    return {content:res.body}
  })
</script>

<script>
  function init() {
    const google = new GoogleConnector({
      apiKey: 'AIzaSyCOrY7KqznWr1fOLnL36ZmbO5l6sLiwjwQ',
      clientId: '734729316705-spabbiskdrmqqjjoihjnool4trtmh8g0.apps.googleusercontent.com',
      scope: 'drive',
      onSuccess(user) {
        console.log('halo bato', user)
      },
      onFail(user) {
        location.assign('/')
      }
    })
    document.getElementById('signout').onclick = () => {
      google.signOut()
    }
    document.getElementById('disconnect').onclick = () => {
      google.disconnect()
    }
  }
</script>

<div id="auth-user"></div>
<div id="auth-status"></div>
<button id="disconnect"=>Disconnect this FS connector</button>
<button id="signout"=>Sign Out of Google</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};init()"
  onreadystatechange="if (this.readyState === 'complete') this.onload()">
  </script>