<script src="/ShellApp.js"></script>
<script src="/GoogleConnector.js"></script>
<script>
  ShellApp.manifest({
    title: "Google Drive",
    icon: "/icon.png",
    api: {
      'fs-welcome': {
        home: "/"
      }
    }
  })

  function init() {
    const google = new GoogleConnector({
      apiKey: 'AIzaSyCOrY7KqznWr1fOLnL36ZmbO5l6sLiwjwQ',
      clientId: '734729316705-spabbiskdrmqqjjoihjnool4trtmh8g0.apps.googleusercontent.com',
      scope: 'drive',
      onSuccess(user) {
        location.assign('/login.html')
      },
      onFail(user) {
      }
    })
    document.getElementById('login').onclick = () => {
      google.signIn()
    }
  }

</script>

<div id="auth-user"></div>
<div id="auth-status"></div>
<button id="login"=>Sign In/Authorize</button>

<hr>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};init()"
  onreadystatechange="if (this.readyState === 'complete') this.onload()">
  </script>