<script src="/ShellApp.js"></script>
<script>
  ShellApp.manifest({
    title: "Google Drive",
    icon: "/icon.png",
    api: {
      'fs-login': {
        redirect:'/fs.html'
      }
    }
  })
</script>
HELLO